/*.orderlist{
  margin-top: 5%;
     margin-left: 10%!important;
	background-color:#9e9e9e42;
}*/


.col .row {
     margin-left: 0px; 
     margin-right: 0px; 
}
td{
    padding:0px;
}
table, th, td {
   border: 1px solid black;
}